name: Deploy React App
permissions: 
  contents: write
on: 
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Code
        uses: actions/checkout@v6
      - name: Install Node v24
        uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Install
        run: npm install
      - name: Build
        run : npm run build
      - name: deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: build
          branch: gh-pages
        env:
          ACCESS_TOKEN: ${{secrets.ACCESS_TOKEN}}